body{
    margin: 0;
    background-color: #201F2E;
    text-align: left;
} 

header {
    background-color: #D54C34;
    color: white;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #D54C34;
    color: white;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}
.section {
    padding: 30px;
}

#title{
    background-color: #ffffff;
    color: #201F2E;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}

#content{
    margin: 0;
    background-color: #201F2E;
    text-align: left;
}
#mainTitle{
    margin: 0;
    background-color: #201F2E;
    text-align: left;
}

h1 {
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
}

h2 {
    color: white;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}

h3 {
    color: #201F2E;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
}

p {
    color: white;
    padding: 3px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    gap: 10px;
}
  
.image-container img {
    max-width: 50%;
    height: auto;
}