body{
    margin: 0;
    background-color: #201F2E;
    text-align: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #D54C34; 
    padding: 10px 20px; 
  }
  
  /* Navbar list */
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Navbar item */
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
    font-weight: bold; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }