body{
    margin: 0;
    background-color: #201F2E;
    text-align: left;
} 
header {
    background-color: #D54C34;
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
  }
h1 {
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
}
p {
    color: white;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
}